---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?id=524901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.3356,"city":{"id":524901,"name":"Moscow","coord":{"lon":37.615555,"lat":55.75222},"country":"RU","population":1000000},"cnt":35,"list":[{"dt":1420480800,"main":{"temp":6.15,"temp_min":4.63,"temp_max":6.15,"pressure":997.39,"sea_level":1018.78,"grnd_level":997.39,"humidity":77,"temp_kf":0.85},"weather":[{"id":600,"main":"Snow","description":"light snow","icon":"13n"}],"clouds":{"all":80},"wind":{"speed":10.54,"deg":354.504},"snow":{"3h":0.175},"sys":{"pod":"n"},"dt_txt":"2015-01-05 18:00:00"},{"dt":1420491600,"main":{"temp":5.81,"temp_min":4.36,"temp_max":5.81,"pressure":999.35,"sea_level":1020.85,"grnd_level":999.35,"humidity":78,"temp_kf":0.8},"weather":[{"id":600,"main":"Snow","description":"light snow","icon":"13n"}],"clouds":{"all":92},"wind":{"speed":10.93,"deg":356.004},"snow":{"3h":0.25},"sys":{"pod":"n"},"dt_txt":"2015-01-05 21:00:00"},{"dt":1420502400,"main":{"temp":6.17,"temp_min":4.79,"temp_max":6.17,"pressure":1001.13,"sea_level":1022.74,"grnd_leve[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?cnt=16&id=524901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.2805,"city":{"id":524901,"name":"Moscow","coord":{"lon":37.615555,"lat":55.75222},"country":"RU","population":1000000},"cnt":16,"list":[{"dt":1420621200,"temp":{"day":-1.1,"min":-9.27,"max":4.53,"night":2.62,"eve":3.38,"morn":-6.95},"pressure":1017.83,"humidity":75,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":7.8,"deg":332,"clouds":0},{"dt":1420707600,"temp":{"day":8.89,"min":1.4,"max":12.16,"night":9.82,"eve":10.72,"morn":1.4},"pressure":1013.74,"humidity":74,"weather":[{"id":600,"main":"Snow","description":"light snow","icon":"13d"}],"speed":12.33,"deg":259,"clouds":76,"snow":1},{"dt":1420794000,"temp":{"day":12.78,"min":8.65,"max":12.78,"night":9.81,"eve":9.66,"morn":11.43},"pressure":991.62,"humidity":84,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":11.99,"deg":211,"clouds":92,"snow":6},{"dt":1420880400,"temp":{"day":30.65,"min":18.46,"max":30.65,"night":27.66,"eve":29.39,"morn":18.46},"pressure":979.38,"humidity":92,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":13.41,"deg":236,"clouds":92,"snow":2.5},{"dt":1420966800,"temp":{"day":36.19,"min":31.55,"max":36.93,"night":35.13,"eve":36.93,"morn":31.55},"pressure":964.53,"humidity":0,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":17.06,"deg":214,"clouds":96,"rain":1.71,"snow":2.26},{"dt":1421053200,"temp":{"day":17.67,"min":8.67,"max":24.76,"night":8.67,"eve":12.07,"morn":24.76},"pressure":977.63,"humidity":0,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":19.25,"deg":298,"clouds":98,"snow":2.18},{"dt":1421139600,"temp":{"day":4.82,"min":-3.05,"max":4.82,"night":-3.05,"eve":-0.36,"morn":1.63},"pressure":993.7,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":7.37,"deg":304,"[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=12345&cnt=16&id=524901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.0936,"city":{"id":524901,"name":"Moscow","coord":{"lon":37.6[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?APPID=12345&id=524901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.2052,"city":{"id":524901,"name":"Moscow","coord":{"lon":37.615555,"lat":5[...]
